@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--ripple, #fdc);

  animation: rippleEffect ease-out 1s infinite;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.dark .ripple {
  --ripple: #320;
}

.light .ripple {
  --ripple: #fdc;
}
